<% @basin = basin if defined?(basin) %>
<div id='basin_info'>
  <div class='col-lg-6'>
    <%= form_for(@basin, html: {class: 'form-horizontal edit_basin', role: 'form'}) do |f| %>
      <% if @basin.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@basin.errors.count, "error") %> prohibited this record from being saved:</h2>

          <ul>
          <% @basin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% is_cyl = (!@basin.basin_type.nil? && @basin.basin_type == "cylindrical") %>
      <%= bootstrap_form_field(f, :zone_id, collection: @basin.zone.site.zones.unarchived.ordered).html_safe  %>
      <%= bootstrap_form_field(f, :name, placeholder: "Give it a name").html_safe  %>
      <%= bootstrap_form_field(f, :basin_type, collection_mapped: Basin.basin_types.keys.map {|btype| [btype.titleize,btype]}).html_safe  %>
      <%= bootstrap_form_field(f, :depth, placeholder: "Depth to water line in meters", help_text: "meters").html_safe  %>
      <%= bootstrap_form_field(f, :width, placeholder: "Width of basin in meters", help_text: "meters", hidden: is_cyl).html_safe  %>
      <%= bootstrap_form_field(f, :length, placeholder: "Length of basin in meters", help_text: "meters", hidden: is_cyl).html_safe  %>
      <%= bootstrap_form_field(f, :diameter, placeholder: "Diameter of basin in meters", help_text: "meters", hidden: !is_cyl).html_safe  %>
      <%= bootstrap_form_field(f, :surface_area, placeholder: "Calculated or input as square meters", help_text: "m<sup>2</sup>").html_safe  %>
      <%= bootstrap_form_field(f, :side_slope_ratio, placeholder: "Slope as a decimal ratio", help_text: "(rise/run)").html_safe  %>
      <%= bootstrap_form_field(f, :volume, volume: "Calculated or input as cubic meters", help_text: "m<sup>3</sup>").html_safe  %>
      <%= hidden_field_tag "active_panel", panel %>
      <div class="form-actions" style="float:right;">
        <%= f.submit(nil, class: "btn-info") %>
      </div>
      <div id='basin_calculations' style="margin-top:20px;margin-left:50px;">
        <%= link_to 'Calculate Volume', '#', class: "btn btn-default btn-sm", role: "button", id: "calculate_basin" %>
      </div>
  
    <% end %>
  </div>
  <div class='col-lg-6'>
    <div id='basin_image'>
      <% unless @basin.basin_type.nil? %>
        <%= image_tag("basin_type_#{@basin.basin_type}.gif", alt: 'Basin Type', size: "210x140", class: "img-responsive") %>
      <% end %>
    </div>
    <div id='basin_comments'>
      <%= render partial: "comments/template", locals: {commentable: @basin, panel: panel} %>
    </div>
  </div>
</div> <!-- Basin Info -->
