<div class='container'>
  <div class='row'>
    <div class='col-lg-8'>
      <h3><%= t('.welcome_back', first_name: current_user.first_name, company_name: current_user.company.name) %></h3>
      <h4><%= t('.model_information', model: t(:site))%></h4>
      <ul class='list-group'>
        <% current_user.company.sites.unarchived.each do |site| %>
        <li class=list-group-item><span class='glyphicon glyphicon-globe' style="margin:10px; color:#36648b;"></span><%= link_to site.name, edit_site_path(site) %>&nbsp;&nbsp;<%= "#{site.zones.count}-zones, #{site.basins.count}-basins" %></li>
        <% end %>
      </ul>
    </div>
    <div class='col-lg-4'>
      <h4>Recent Activity</h4>
      <%= render 'dashboard/panes/recent_activity' %>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-8'>
      <h4><%= t(:design_reports)%></h4>
      <ul class='list-group'>
        <li class=list-group-item>Basin with aerators: <a href='#'>Pierce Island-Tank1</a><br><small>5/17/2015 08:45 am</small></li>
        <li class=list-group-item>Alternate diffusers: <a href='#'>Pierce Island-Tank2</a><br><small>5/23/2015 09:25 am</small></li>
      </ul>
      
    </div>
    <div class='col-lg-4'>
    </div>
  </div>
</div>