<div class="container">
  <div class="row">
    <div class='col-lg-8'>
      <h4>Edit <%= resource_name.to_s.humanize %></h4>
      <% if resource.avatar.present? %>
        <div class="circle-image-div">
          <%= image_tag(resource.avatar, alt: 'User Photo', class: "circle-image") %>
        </div>
      <% end %>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal', role: 'form' }) do |f| %>
        <%= devise_error_messages! %>
        <%= bootstrap_form_field(f, :email, email: true).html_safe  %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= bootstrap_form_field(f, :password, password: true, placeholder: (@minimum_password_length.nil? ? "" : "minimum #{@minimum_password_length} characters"),help_text_below: "(blank = no change)").html_safe  %>
        <%= bootstrap_form_field(f, :password_confirmation, password: true).html_safe %>

        <div class="form-actions" style="float:right;">
          <%= f.submit(nil, class: "btn-info") %>
        </div>
      <% end %>
    </div>
    <div class='col-lg-4'>
      <br><br><br>
      <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>