<div class='col-lg-6'>
  <% if @user.avatar.present? %>
    <div class="circle-image-div">
      <%= image_tag(@user.avatar, alt: 'User Photo', class: "circle-image") %>
    </div>
  <% else %>
    <h4>New User</h4>
  <% end %>
  <%= form_for(@user, html: {multipart: true, class: 'form-horizontal', role: 'form'}) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this record from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= bootstrap_form_field(f, :email).html_safe  %>
    <%= bootstrap_form_field(f, :first_name).html_safe  %>
    <%= bootstrap_form_field(f, :last_name).html_safe  %>
    <%= bootstrap_form_field(f, :company_id, collection: Company.unarchived).html_safe  %>
    <%= bootstrap_form_field(f, :role, collection_mapped: User.roles.keys.map {|role| [role.titleize,role]}).html_safe  %>
    <div class="form-group" id="form-group">
      <%= f.label 'Picture/Avatar', class: "col-sm-4 control-label" %>
      <div class="col-sm-8">
        <label class="btn btn-default btn-file">
          Select image <%= f.file_field :avatar, style: "display: none;" %>
        </label>
      </div>
    </div>
    <br>
    <div class="form-actions" style="float:right;">
      <%= f.submit(nil, class: "btn-info") %>
    </div>
  <% end %>

  <br><br><p class='text-right'><small>User id: <%= "#{@user.id} - #{@user.modified}" %></small></p>
</div>
<div class='col-lg-6'>
  <br><br><br>
  <ul>
    <li><%= link_to "Change your password", edit_user_registration_path %></li>
    <li><small>API token: <%= @user.auth_token %></small></li>
</ul>
</div>

