<%= form_for(user) do |f| %>
	<td><%= link_to user.email, edit_user_path(user) %></td>
	<td><%= f.text_field :first_name %></td>
	<td><%= f.text_field :last_name %></td>
	<td><%= f.select(:company_id, Company.unarchived.map{|cust| [cust.name, cust.id] })%></td>
	<td><%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %></td>
	<td><%= f.submit 'Update', :class => 'button-xs' %></td>
<% end %>
<td>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_user_path(user) %>|<%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } unless user == current_user %>
</td>
