<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class='col-lg-9'>
      <table class="table">
        <thead>
          <tr>
            <th>Login/email</th>
            <th>Company</th>
            <th>Name</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.email, edit_user_path(user) %></td>
              <td><%= user.company.try(:name) %></td>
              <td><%= "#{user.first_name} #{user.last_name}" %></td>
              <td><%= user.role %></td>
              <td><%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_user_path(user) %>|<%= link_to "<span class='glyphicon glyphicon-remove'></span>".html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } unless user == current_user %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to "New User", new_user_path %>
    </div>
    <div class='col-lg-3'>
    </div>
  </div>
</div>