<div id='basin_property_info'>
  <div class='col-lg-12'>
    <div style="align:right;">
      <h4><%="#{@record.class.to_s} Properties" %></h4>
    </div>

    <%= form_for(@record, html: {class: 'form-inline'}) do |f| %>
      <% if @record.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@record.errors.count, "error") %> prohibited this <%= @record.class.to_s %> from being saved:</h2>
          <ul>
          <% @record.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: 'properties/property_rows', locals: {:f => f} %>
      <div class='form-actions text-right'>
        <%= f.submit 'Update' %>
      </div>
    <% end %>
  </div>
  <div class='col-lg-3'>
    <div id='basin_design_image'>
      
    </div>
  </div>
</div>