<td>
  <%= label_tag 'choose_property', 'Adding', class: 'control-label' %>
  <%= hidden_field_tag "props[property_id_#{inc}]", prop.id.to_s %>
  <%= hidden_field_tag "props[property_value_id_#{inc}]", 'new_id' %>
</td>
<td>
  <%= select_tag "props[select_property_id_#{@form_increment}]", options_from_collection_for_select(@property_list, "id", "name") + "\n<option value='-1'>Add new...</option>".html_safe %>
  <%= text_field_tag "props[new_name_#{@form_increment}]", nil, placeholder: "new property", style: 'display: none;' %>
</td>
<td><%= text_field_tag "props[new_category_#{@form_increment}]", prop.category %></td>
<td><%= text_field_tag "props[new_position_#{@form_increment}]", prop.position %></td>
<td><%= text_field_tag "props[new_data_#{@form_increment}]", nil, placeholder: "new value" %></td>
<td>
  <%= hidden_field_tag "form_increment", @form_increment.to_s %>
</td>
