<fieldset>
  <div class='form-group'>
    <%= f.label "Property", class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= f.label "Value", class: 'col-sm-2 control-label' %>
      <%= hidden_field_tag "#{@record.class.to_s.underscore}_id", @record.id.to_s %>
    </div>
  </div>
  <% @record.properties.unarchived.ordered.each do |prop| %>
  <% if prop.property_values.empty? %>
    <div class='form-group'>
      <%= f.label prop.name, class: 'col-sm-2 control-label' %>
      <%= hidden_field_tag "property_id_#{prop.id}_0", prop.id.to_s %>
      <%= hidden_field_tag "property_value_id_#{prop.id}_0", 'new_id' %>
      <div class='col-sm-10'>
      <%= text_field_tag "data_#{prop.id}_0", '' %>
      <p class="help-block" style='display: inline;'>n/a</p>
    </div>
  </div>
  <% else %>
  <% prop.property_values.ordered.each_with_index do |pv, idx| %>
    <div class='form-group'>
      <%= f.label prop.name, class: 'col-sm-2 control-label' %>
      <%= hidden_field_tag "property_id_#{prop.id}_#{idx + 1}", prop.id.to_s %>
      <%= hidden_field_tag "property_value_id_#{prop.id}_#{idx + 1}", pv.id.to_s %>
      <div class='col-sm-10'>
        <%= text_field_tag "data_#{prop.id}_#{idx + 1}", pv.data %>
        <p class="help-inline" style='display: inline;'><%= pv.creator %></p>
      </div>
    </div>
  <% end %>
  <% end %>
<% end %>
</fieldset>