<%= form_for(@company, html: {class: 'form-horizontal edit_basin', role: 'form'}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= bootstrap_form_field(f, :name, placeholder: "Give it a name").html_safe  %>
  <%= bootstrap_form_field(f, :description, text_rows: 3).html_safe  %>

  <div class="form-actions" style="float:right;">
    <%= f.submit(nil, class: "btn-info") %>
  </div>
<% end %>
