<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zone.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zone.description %>
</p>

<p>
  <strong>Archived at:</strong>
  <%= @zone.archived_at %>
</p>

<p>
  <strong>Archive number:</strong>
  <%= @zone.archive_number %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @zone.updated_by_id %>
</p>

<p>
  <strong>Site:</strong>
  <%= @zone.site_id %>
</p>

<%= link_to 'Edit', edit_zone_path(@zone) %> |
<%= link_to 'Back', zones_path %>
