<%= simple_form_for(@site, html: { class: 'form-horizontal' }) do |f| %>
  <div class='control-group'>
    <%= f.error_notification %>
    <%= f.input :name, required: true, autofocus: true %>
  </div>
  <div class='control-group'>
    <%= f.input :customer_id, collection: Customer.unarchived.map{|cust| [cust.name, cust.id] } %>
    <%= f.input :address1 %>
    <%= f.input :address2 %>
    <%= f.input :city %>
		<%= f.input :state, collection: Site::STATES %>
		<%= f.input :zip %>
		<%= f.input :phone, as: :tel %>
		<%= f.input :gps, label: 'GPS location' %>
    <%= f.button :submit %>
  </div>
<% end %> 
<br><p class='text-right'><small>Site id: <%= "#{@site.id} - #{@site.modified}" %></small></p>
