<h3>Site <%= @site.name %></h3>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class='glyphicon glyphicon-list' style="margin:10px; color:#36648b;"></span>
        <a data-toggle="collapse" data-parent="#accordion" href="#site_basics_panel">
          Site Basics <small style="float:right;">(show/hide)</small>
        </a> 
      </h4>
    </div>
    <div id="site_basics_panel" class="panel-collapse collapse<%= @active_panel == 'site_info' ? ' in' : '' %>">
      <div class="panel-body">
        <%= render :partial => 'form', locals: {panel: 'site_info'} %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <span class='glyphicon glyphicon-globe' style="margin:10px; color:#36648b;"></span>
        <a data-toggle="collapse" data-parent="#accordion" href="#climate_panel">
          Site Climate and Conditions <small style="float:right;">(show/hide)</small>
        </a> 
      </h4>
    </div>
    <div id="climate_panel" class="panel-collapse collapse<%= @active_panel == 'site_climate' ? ' in' : '' %>">
      <div class="panel-body">
        <%= render :partial => 'properties/property_form', locals: {record: @site, conditions: ["Climate"], panel: 'site_climate' } %>
      </div>
    </div>
  </div>
  <% @site.zones.unarchived.ordered.each do |zone| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class='glyphicon glyphicon-tint' style="margin:10px; color:#36648b;"></span>
          <a data-toggle="collapse" data-parent="#accordion" href="#influent_panel_<%= zone.id %>">
            Zone Influent (zone: <%= zone.name %>) <small style="float:right;">(show/hide)</small>
          </a> 
        </h4>
      </div>
      <div id="influent_panel_<%= zone.id %>" class="panel-collapse collapse<%= @active_panel == "zone_influent_#{zone.id}" ? ' in' : '' %>">
        <div class="panel-body">
          <%= render :partial => 'properties/property_form', locals: {record: zone, conditions: ["Influent"], panel: "zone_influent_#{zone.id}" } %>
        </div>
      </div>
    </div>
    <% zone.basins.unarchived.ordered.each_with_index do |basin, idx| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <span class='glyphicon glyphicon-list-alt' style="margin:10px; color:#36648b;"></span>
            <a data-toggle="collapse" data-parent="#accordion_<%=basin.zone_id %>" href="#basin_info_panel<%=idx %>">
              <%= basin.name %> - Basin Geometry (zone: <%= zone.name %>) <small style="float:right;">(show/hide)</small>
            </a> 
          </h4>
        </div>
        <div id="basin_info_panel<%=idx %>" class="panel-collapse collapse<%= @active_panel == "basin_info_#{idx}" ? ' in' : '' %>">
          <div class="panel-body">
            <%= render :partial => 'basins/form', locals: {basin: basin, panel: "basin_info_#{idx}"} %>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <span class='glyphicon glyphicon-screenshot' style="margin:10px; color:#36648b;"></span>
            <a data-toggle="collapse" data-parent="#accordion_<%=basin.zone_id %>" href="#basin_design_panel<%=idx %>">
              <%= basin.name %> - Basin Design (zone: <%= basin.zone.name %>) <small style="float:right;">(show/hide)</small>
            </a> 
          </h4>
        </div>
        <div id="basin_design_panel<%=idx %>" class="panel-collapse collapse<%= @active_panel == "basin_info_#{idx}" ? ' in' : '' %>">
          <div class="panel-body">
            <%= render :partial => 'properties/property_form', locals: {record: basin, conditions: ["Design", "Conditions"], panel: "basin_info_#{idx}" } %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div> <!-- Accordion -->
