<ul class='list-group'>
  <% Audit.recent_x.each_with_index do |audit, idx| %>
    <li class=list-group-item>
      <% if audit.user.present? && audit.user.avatar.present? %>
        <div class="circle-image-div">
            <%= image_tag(audit.user.avatar, alt: 'User Photo', class: "circle-image-sm image-xsm") %>
        </div>
      <% else %>
        <span style="margin-left: 50px;"></span>
      <% end %>
      <span style="margin-left:4px;"></span>
      <small><%= audit.auditable_type.downcase %> - </small><a href='<%= audit_link(audit) %>'><%= truncate(audit.target.name, length: 15) %></a> 
      <span class="tiny-text"><%= "#{audit.created_at.to_s(:simple_time)}-#{audit.user.try(:last_name)}" %></span>
    </li>
    <% break if idx > 3 %>
  <% end %>
</ul>