<ul class='list-group'>
  <% Audit.recent_x.each_with_index do |audit, idx| %>
    <li class=list-group-item>
      <div class="circle-image-div" style="float:left;margin-right:10px;">
        <% if audit.user.present? %>
          <%= image_tag(audit.user.photo_path, alt: 'User Photo', class: "circle-image-sm image-xsm") %>
        <% else %>
          <span style="margin-left: 44px;"></span>
        <% end %>
      </div>
      <div style="padding-left:10px;"><small><%= "#{audit.action}:#{audit.auditable_type}" %> - <a href='<%= audit_link(audit) %>'><%= truncate(audit.target.name, length: 40) %></a> </small><br>
      <span class="tiny-text"><%= "#{audit.created_at.localtime.to_s(:simple_time)}-#{audit.user.try(:last_name)}" %></span>
    </div>
    </li>
    <% break if idx > 3 %>
  <% end %>
</ul>