<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EDI Design Brief" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "EDI Design Briefs" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://www.wastewater.com/"><%= image_tag("edi_logo.png", alt: 'EDI', size: "45x43", class: "img-responsive", style: "margin-top:-10px;") %></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- script src="https://code.jquery.com/jquery.js"></script -->
  </body>
</html>